.author__urls.social-icons a,
.author__urls.social-icons a:visited,
.page__footer a,
.page__footer a:visited {
    color: #2563eb;
    font-weight: 600;
    transition: color 0.2s ease;
}

.author__urls.social-icons a:hover,
.page__footer a:hover {
    color: #1d4ed8;
}

@media only screen and (min-width: 900px) {
    .sticky {
        top: 4em;
    }
    .masthead.sticky {
        top: 0;
    }

    h3.author__name {
    color: #1e3a5f;
    font-weight: 600;
    }

    .sidebar.sticky {
        background-color: #f8fafc;
        border-right: 1px solid #e2e8f0;
        padding: 1em;
        max-height: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0em;
        bottom: 0;
    }
    
}