.author__urls.social-icons a,
.author__urls.social-icons a:visited,
.page__footer a,
.page__footer a:visited {
    color: #050505;
    font-weight: 700;
}

@media only screen and (min-width: 900px) {
    .sticky {
        top: 4em;
    }
    .masthead.sticky {
        top: 0;
    }

    h3.author__name {
    color: #050505
    }

    /* Sidebar fixed and fills viewport height on large screens */
    .sidebar.sticky {
        background-color: #ffffff;
        padding: 1em;
        position: fixed;
        top: 4em;   /* distance from top (header height) */
        bottom: 0;  /* stretch to bottom of viewport */
        overflow-y: auto; /* scroll sidebar content if it’s taller than viewport */
    }
}

/* On small screens, let the sidebar behave like normal content */
@media only screen and (max-width: 899px) {
    .sidebar {
        position: static;
        width: 100%;
        min-height: auto;
        padding: 1em 0;
    }
}