body {
    background-color: rgb(220, 226, 221);
    color: rgb(2, 2, 2);
}

a {
    color: #000000
}

a:visited {
    color: #020202
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #588361;
   h3 {
    clear: both;
    color: #0A173A;
    font-family: "Work Sans", sans-serif;
    font-size: 1.35em;
}

/* Use Michroma for "My Favorite Work" / "My Favorite Articles" subtitles */
h3.archive__subtitle {
    clear: both;
    color: #0A173A;
    font-family: "Michroma", sans-serif;
    font-size: 1.35em;
}

/* Utility class if you want to apply Michroma elsewhere */
.michroma-regular {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
}



h1,
h2 {
    color: #0A173A;
    font-family: "Michroma", sans-serif;
    font-weight: 700;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Work Sans", sans-serif;
}

#main {
    position: relative;
}