body {
    color: black;
}

a {
    color: #3a00da
}

a:visited {
    color: #3a00da
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #103966;
    font-family: "Waiting for the Sunrise";
    font-size: 1.35em;
}



h1,
h2 {
    color: #3a00da;
    font-family: "Rubik";
    font-weight: 700;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Work Sans";
}

#main {
    position: relative;
}