body {
    color: rgb(2, 2, 2);
}

a {
    color: #000000
}

a:visited {
    color: #020202
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #050505;
    font-family: "Waiting for the Sunrise";
    font-size: 1.35em;
}



h1,
h2 {
    color: #050505;
    font-family: "Montserrat";
    font-weight: 700;
}

p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Work Sans";
}

#main {
    position: relative;
}