.masthead {
    background-color: #A4A4A4
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #646464;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Roboto Mono", sans-serif;
}