.masthead {
    background-color: #51554c
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #fffefc;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Roboto Mono", sans-serif;
}