.masthead {
    background-color: #eeeeee
}

#site-nav {
    background-color: transparent;
}

#site-nav a,
#site-nav a:visited {
    color: #020202;
}

#site-nav a,
#site-nav a:visited {
    font-family: "Rubik";
}