--- 
    #to make sure Jekyll reads this 
--- 
@import "default";
@import "author";
@import "footer";
@import "grid_layout";
@import "home";
@import "nav";
@import "post";
@import "taxonomy";

.greedy-nav a:hover,
.greedy-nav .hidden-links a:hover {
    color: #1e1e90;
    background: transparent;
}